@import url(https://db.onlinewebfonts.com/c/32441506567156636049eb850b53f02a?family=Times+New+Roman);
@font-face {
  font-family: "Times New Roman";
  src: url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot");
  src: url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.svg#Times New Roman")format("svg");
}
body, html {
  margin: 0;
  background: linear-gradient(rgb(37 37 37), rgb(10 14 19 / 64%)), url(bg.jpg) 50% no-repeat;
  color: white;
  font-family: 'Times New Roman', Times, serif !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #4caf50;
}